<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Testing a responsive layout">
    <title>title</title>
    <link rel="stylesheet" href="../css/master.css"/>
  </head>
  <body>
    <!--CONTAINER-->
    <div id="container">

      <!--HEADER-->
      <div id="header">
        <div class="title">
        </div>
        <div class="subtitle">
        </div>
      </div>

      <!--NAV-->
      <div id="nav">
        <!--BUTTON-->
        <div class="button">
        </div>
        <!--BUTTON-->
        <div class="button">
        </div>
        <!--BUTTON-->
        <div class="button">
        </div>
      </div>

      <!--CONTENT-->
      <div id="content">

        <!--POST 1-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-right">
          </div>
        </div>

        <!--POST 2-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-left">
          </div>
        </div>

        <!--POST 3-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-right">
          </div>
        </div>

        <!--POST 4-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-left">
          </div>
        </div>

        <!--POST 5-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-right">
          </div>
        </div>

        <!--POST 6-->
        <div class="post">
          <!--IMAGE-->
          <div class="image-left">
          </div>
        </div>

      </div> <!--END OF CONTENT-->

      <!--FOOTER-->
      <div id="footer">
        <!--SMALL BUTTON-->
        <div class="small-button">
        </div>
        <!--SMALL BUTTON-->
        <div class="small-button">
        </div>
        <!--SMALL BUTTON-->
        <div class="small-button">
        </div>
        <!--SMALL BUTTON-->
        <div class="small-button">
        </div>
        <!--SMALL BUTTON-->
        <div class="small-button">
        </div>
      </div>

    </div> <!--END OF CONTAINER-->
  </body>
</html>
